DB_HOST=db
DB_PORT=3306
DB_NAME=cs242db
DB_USER=root
DB_PASSWORD=1234
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/google-calendar/callback
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=emeraldtester4@gmail.com
SMTP_PASSWORD=dqcavjunrlvwxynt
SMTP_SENDER_EMAIL=emeraldtester4@gmail.com
SMTP_USE_TLS=true
REMINDER_CHECK_INTERVAL_SECONDS=60